html,
body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}

/* welcome page */
.navbar-brand img {
  width: 9rem;
}
.navbar-nav .nav-link {
  font-size: 0.7rem;
}

.nav-item {
  text-align: right;
}

.navbar-toggler:focus {
  outline: none !important;
}

.p-image {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  background-size: cover;
}

#welcome {
  background-image: url("../img/img1.jpg");
  height: 690px;
}

#heading,
.heading-text {
  margin-left: 4.5rem;
  background-color: white;
}

#heading {
  margin-top: 22rem;
}

.lead-img {
  width: 600px;
}

#display {
  margin-top: 6rem;
  text-align: center;
}

.dish-img {
  width: 260px;
  margin-top: 3rem;
}

#description {
  text-align: left;
  margin-left: 3rem;
}

#p-image2 {
  background-image: url("../img/img4.jpg");
  height: 530px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 5rem;
  width: 100%;
  background-size: cover;
}

#heading-b {
  margin-top: 7rem;
}

#space1 {
  padding-left: 2.5rem;
}

#space2 {
  padding-left: 2.1rem;
}

#space3 {
  padding-left: 0.35rem;
}

#space4 {
  padding-left: 0.1rem;
}

#main-footer {
  font-size: 0.7rem;
}

#welcome-list {
  font-size: 0.9rem;
  line-height: 2rem;
}

a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

a:hover,
a:focus {
  color: #000;
  text-decoration: underline;
}

/* location page*/

#location {
  background-image: url("../img/img5.jpg");
  height: 420px;
}

#location-text {
  line-height: 2.5rem;
}

/* gallery page*/

#gallery {
  text-align: center;
}

.gallery-img {
  width: 280px !important;
}

/*menu page*/

#menu {
  background-image: url("../img/img3.jpg");
  height: 420px;
}

.menu-sections {
  letter-spacing: 0.7px !important;
}

.menu-detail {
  font-size: 0.7rem;
  line-height: 0rem !important;
}

.menu-titles {
  font-weight: 900;
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: 1.5px !important;
}

.menu-titles-des {
  font-weight: 900;
  text-align: center;
  letter-spacing: 2px !important;
  margin-top: 3rem;
}

.section-description {
  font-size: 0.9rem;
  text-align: center;
}

#menu-nav {
  background-color: rgb(255, 255, 255);
  text-align: right;
  border-bottom: 1px solid rgb(252, 252, 252);
}

#menu-nav .nav-item {
  padding: 0.2rem;
  padding: 0;
  text-align: right;
}

#navbar-nav {
  text-align: right;
}

a.anchor {
  display: block;
  position: relative;
  top: -7rem;
  visibility: hidden;
}

@media only screen and (max-width: 1025px) {
  #heading {
    font-size: 2rem;
    margin-top: 18rem;
  }
  .heading-text {
    font-size: 1rem;
  }

  #heading-b,
  #hours {
    margin: 2rem;
  }

  #heading,
  .heading-text {
    margin-left: 1rem;
  }

  a.anchor {
    top: -140rem;
  }

  .p-image,
  #p-image2 {
    background-attachment: scroll;
  }

  #welcome {
    height: 500px;
  }
  #p-image2 {
    height: 350px;
    background-position: right bottom;
  }
  #heading-b {
    margin-top: 4rem;
  }
}
